SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:postgresql://localhost:5432/imoveis
DB_USER=postgres
DB_PASSWORD=sua_senha_local

JWT_SECRET=gere-uma-chave-secreta-local

ADMIN_NAME=Administrador
ADMIN_USERNAME=admin
ADMIN_PASSWORD=senha_local