.env
.env.*
!.env.example

Back-End/target
*.class
*.jar

uploads/
Back-End/uploads

node_modules/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.log

*.pem
*.key

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
